.glass {
    --color: #41c1fb;
    --color-darker: #1fa4e0;
    position: relative;

}

.glass > div {
    @apply h-[30vh] w-[30vw] lg:h-[400px] lg:w-[200px];
    position: relative;
    background: rgba(153, 52, 52, 0.1);
    border-radius: 40px;
    border: 8px solid transparent;
}

.glass > div::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 10%);
    height: 30px;
    border: 10px solid hsla(349, 100%, 95%, 0.2);
    border-radius: 50%;
    /* box-shadow: 0 15px 0 #222; */
}

.glass > div::after {
    content: "";
    @apply absolute w-[2rem] lg:w-[50px] h-[7rem] lg:h-[250px] top-[3rem] lg:top-[70px] left-[1rem] lg:left-[30px];
    background: rgba(255, 255, 255, 0.1);
}

.liquid {
    @apply absolute top-12;
    /* top: 50px; */
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: var(--color);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    filter: drop-shadow(0 0 80px var(--color));
    /* animation: animateLiquid 5s linear infinite; */
}

.liquid::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 20px;
    border-radius: 50%;
    background: var(--color-darker);
}

@keyframes animateLiquid {
    0%, 20% {
        top: 50px;
    }
    50%, 70% {
        top: 320px;
    }
    100% {
        top: 50px;
    }
}
