.bowl {
    --color: #41c1fb;
    --color-darker: #1fa4e0;
    @apply relative w-[5rem] lg:w-[150px] h-[5rem] lg:h-[150px] border-[5px] lg:border-[8px] border-transparent;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.bowl::before {
    content: "";
    @apply absolute h-[20px] lg:h-[30px] border-[5px] lg:border-[8px] border-[#44444491];
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    border-radius: 50%;
    box-shadow: 0 6px #22222242;
}

.bowl::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 80px;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
}

.liquid {
    position: absolute;
    top: 50%;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: var(--color);
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    filter: drop-shadow(0 0 80px var(--color));
}

.liquid::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 20px;
    background: var(--color-darker);
    border-radius: 50%;
}

.shadow {
    @apply w-[4rem] lg:w-[120px] h-[12px] lg:h-[18px] top-[calc(50%+40px)] lg:top-[calc(50%+75px)];
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    z-index: -99;
}