.container {
    --color: #40bffa;
    transform-origin: left center;
    transform: rotate(-90deg);
}

.slider {
    appearance: none;
    outline: none;
    height: 10px;
    width: 330px;
    background: transparent;
    overflow: hidden;
    border: 1px solid var(--color);
    border-radius: 5px;
}

.slider::-moz-range-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--color);
    cursor: pointer;
    box-shadow: -407px 0 0 400px var(--color);
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--color);
    cursor: pointer;
    box-shadow: -407px 0 0 400px var(--color);
}